html {
    color: #d9d9d9;
    background-color: #404040;
    font-family: monospace;
    font-size: 21px;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    max-width: 60ch;
    margin: 4rem auto;
    padding: 0 1rem;
}

h1 {
    color: #f2f2f2;
}

h2 {
    font-size: 21px;
    margin: 40px 0;
}

h3 {
    font-size: 18px;
    margin: 0;
}

a {
    color: #33adff;
}

p {
    font-size: 16px;
    margin: 1rem 0;
}

p.label {
    line-height: 100%;
    margin: 0;
    padding: 0;
    font-style: italic;
}

li {
    font-size: 14px;
    line-height: 1.6;
    margin: 0.6rem 0;
}

table, th, td {
    width: 100%;
    border: thin solid black;
    border-collapse: collapse;
    padding: 0.4rem;
}

pre {
    margin: 0;
}

code {
    color: white;
    background-color: black;
    display: block;
    font-size: 14px;
    overflow-x: auto;
    padding: 1rem;
}

blockquote {
    font-style: italic;
    border: thin solid black;
    padding: 1rem;
}

blockquote p {
    margin: 0;
}

div.project {
    background-color: #fff;
    border: 1px solid #dddddd;
    float: left;
    margin-bottom: 40px;
    width: 700px;
}

div.bar {
    background: #ddd url("bar.png") no-repeat;
    height: 22px;
}

div.content {
    padding: 0 20px;
}

div.links, div.details, div.thumb, div.tech {
    float: left;
}

div.project p, div.project li {
    color: #000;
}

div.project a {
    color: #1d79ff;
}